.inputContainer {
  margin-top: 10px;
  &.hidden {
    display: none;
  }
  .focus {
    font-size: 1.7em;
    margin: 10px 0;
  }
  .inputTodo {
    all: unset;
    border-bottom: 2px solid #fff;
    line-height: 40px;
    text-align: center;
    width: 100%;
    font-size: 200%;
    // &.hidden {
    //   display: none;
    // }
  }
}
.todoContainer {
  padding-top: 10px;
  text-align: center;
  font-style: bold;
  &.hidden {
    display: block;
  }
  label {
    width: 100%;
    height: 100px;
    display: block;
    .today {
      font-weight: bold;
    }
    .todoList {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      #checkBox {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
      }
      &.hidden {
        display: none;
      }
      .checkButton {
        cursor: pointer;
        align-items: center;
        font-size: 2rem;
        margin-right: 0.25rem;
        margin-top: 15px;
        color: #adb5bd;
        // &:hover {
        //   display: block;
        // }
        &.checkedIcon {
          color: blue;
        }
      }
      .todoItem {
        padding: 10px;
        font-size: 2em;
        &.check {
          text-decoration: line-through;
        }
      }
      .btns {
        cursor: pointer;
        margin-top: 10px;
        .closeBtn {
          all: unset;
          &.check {
            display: none;
          }
          // &:hover {
          //   display: block;
          // }
        }
        .plusBtn {
          all: unset;
          display: none;
          font-size: 1.5rem;
          margin-bottom: 10px;
          &.check {
            display: block;
          }
          &.hidden {
            display: none;
          }
        }
      }
    }
    .compliments {
      display: none;
      &.check {
        display: block;
      }
    }
  }
}